workflow:
  rules:
    # Do not run if only markdown files changed
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH'
      changes:
        - "**/*.md"
      when: never
    # Do not run for tags
    - if: '$CI_COMMIT_TAG'
      when: never
    # Do not run for branches with 'test' in the name
    - if: '$CI_COMMIT_BRANCH =~ /test/'
      when: never
    # Run for merge requests
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: always
    # Run for pushes to branches WITHOUT open merge requests
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_OPEN_MERGE_REQUESTS == null'
      when: always
    # Run for scheduled pipelines
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: always
    # Run for web-triggered pipelines
    - if: '$CI_PIPELINE_SOURCE == "web"'
      when: always

variables:
  CONTAINER_HOST: cms-cmu
  RECREATE_CONTAINERS: "false"
  GIT_SUBMODULE_STRATEGY: recursive
  GIT_SUBMODULE_DEPTH: 1
  GIT_SUBMODULE_FORCE_HTTPS: "true"
  BBREWW_BRANCH: '$CI_COMMIT_REF_NAME'
  COFFEA4BEES_BRANCH: "new_master"
  MKDOCS_VERSION: '1.5.3'
  MATERIAL_VERSION: '9.5.3'
  DATASET: coffea4bees/metadata/datasets_HH4b_v1p1.yml
  DATASET_RUN3: coffea4bees/metadata/datasets_synthetic_test_Run3.yml
  # # DATASET: metadata/datasets_HH4b_cernbox.yml
  # # DATASET_RUN3: metadata/datasets_HH4b_Run3_cernbox.yml

include:
  - local: 'software/dockerfiles/stages_build.yml'
  - local: 'src/workflows/gitlab-CI/stages_proxy.yml'
  - local: 'src/workflows/gitlab-CI/stages_code.yml'
  - local: 'src/workflows/gitlab-CI/stages_skimmer.yml'
  - local: 'src/workflows/gitlab-CI/stages_friendtree.yml'
  - project: 'cms-cmu/bbreww'
    ref: 'master'
    file: 'workflows/gitlab-CI/stages_for_barista.yml'
  - project: 'cms-cmu/coffea4bees'
    ref: 'new_master'
    file: 'workflows/gitlab-CI/stages_for_barista.yml'
  - project: 'authoring/documentation/mkdocs-ci'
    file: 'mkdocs-gitlab-pages.gitlab-ci.yml'

stages:  
  - build
  - setup
  - code 
  - skimmer
  - friendtree
  - analysis
  - tools
  - plot
  - cutflow
  - classifier
  - reana
  - deploy
  - validation
  - pages

setup_workspace:
  stage: setup
  image: alpine/git:latest
  needs:
    - voms_proxy
  script:
    # --- bbreww ---
    - BBREWW_DEFAULT_BRANCH="master"
    - echo "Checking for branch '$BBREWW_BRANCH' in bbreww..."
    # Check if the feature branch exists. If not, use the default branch.
    - git ls-remote --exit-code --heads https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.cern.ch/cms-cmu/bbreww.git "$BBREWW_BRANCH" || BBREWW_BRANCH="$BBREWW_DEFAULT_BRANCH"
    - echo "Cloning bbreww from branch '$BBREWW_BRANCH'"
    - git clone --depth=1 --branch $BBREWW_BRANCH https://${DEPLOY_TOKEN_USERNAME_BBREWW}:${DEPLOY_TOKEN_PASSWORD_BBREWW}@gitlab.cern.ch/cms-cmu/bbreww.git bbreww/
    - ls bbreww/

    # --- coffea4bees ---
    - COFFEA4BEES_DEFAULT_BRANCH="new_master" 
    - echo "Checking for branch '$COFFEA4BEES_BRANCH' in coffea4bees..."
    - git ls-remote --exit-code --heads https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.cern.ch/cms-cmu/coffea4bees.git "$COFFEA4BEES_BRANCH" || COFFEA4BEES_BRANCH="$COFFEA4BEES_DEFAULT_BRANCH"
    - echo "Cloning coffea4bees from branch '$COFFEA4BEES_BRANCH'"
    - git clone --depth=1 --branch $COFFEA4BEES_BRANCH https://${DEPLOY_TOKEN_USERNAME_COFFEA4BEES}:${DEPLOY_TOKEN_PASSWORD_COFFEA4BEES}@gitlab.cern.ch/cms-cmu/coffea4bees.git coffea4bees/
    - ls coffea4bees/

    # Copy the proxy if it exists
    - echo "Checking for proxy directory in $CI_PROJECT_DIR/proxy"
    - if [ -d "$CI_PROJECT_DIR/proxy" ]; then cp -r $CI_PROJECT_DIR/proxy/ .; fi

  artifacts:
    paths:
      - bbreww/
      - coffea4bees/
      - proxy/
    expire_in: 4 hours

.base_analysis:
  needs:
    - setup_workspace
  image: ${CI_REGISTRY_IMAGE}:test
  tags:
    - k8s-cvmfs
  retry: 2

.base_combine:
  image: gitlab-registry.cern.ch/cms-analysis/general/combine-container:CMSSW_11_3_4-combine_v9.1.0-harvester_v2.1.0
  needs:
    - setup_workspace
  before_script:
    - source /cvmfs/cms.cern.ch/cmsset_default.sh
    - cd /home/cmsusr/CMSSW_11_3_4/
    - cmsenv || true
    - cd -
    - cd barista_framework/
    - pwd && ls -la
    - ls -la coffea4bees/
  tags:
    - k8s-cvmfs
  retry: 2

.base_classifier:
  needs:
    - voms_proxy
    - setup_workspace
  image: registry.hub.docker.com/chuyuanliu/heptools:ml-cpu # TODO change to central repo
  before_script:
    - source /entrypoint.sh
  tags:
    - k8s-cvmfs
  artifacts:
    expire_in: 1 day

validation:
  before_script:
    - bash docs/sync_readmes.sh
    - bash docs/update_mkdocs_nav.sh
    - cp docs/mkdocs.yml .
    - cp docs/requirements.txt .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: always
    - when: never

pages:
  before_script:
    - bash docs/sync_readmes.sh
    - bash docs/update_mkdocs_nav.sh
    - cp docs/mkdocs.yml .
    - cp docs/requirements.txt .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && ($CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "master")'
      when: always
    - when: never

