# template:
# - model: path to model
# - FvT: path to friend tree

main:
  module: evaluate
  option:
    - --max-evaluators 3 # use 3 workers to evaluate

dataset:
  - module: bbWW.base.Eval
    option:
      - --metadata bbreww/metadata/datasets
      - --max-workers 8 # use 8 workers to fetch metadatas for ROOT files
      - --mc-processes GluGluToHHTo2B2VLNu2J
      - --friends "" bbreww/metadata/classifier/test_inputs.json@@classifier_input

model:
  - module: bbWW.base.baseline.Eval
    option:
      - --models
      - Final # choose name of the model to evaluate, for now only Final is available
      - "{model}/result.json" # setup the path to the training result

analysis:
  - module: kfold.Merge # merge different k-folds
    option:
      - --name FvT # set the name of friend tree
      - --step 100000 # set the step to read ROOT files
      - --workers 5
      - --clean # remove the original files

setting:
  - module: IO
    option:
      - output: "{FvT}"
  - module: ml.DataLoader
    option:
      - num_workers: 8
